html{
    font-size: 16px;
}
li{
    padding: 5px;
}
.box{
    width: 300px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
}

.container_box{
    width: 80%;
    height: 200px;
    background-color: lightcyan;
    padding: 20px;
}
.box_2{
    width: 70%;
    height: 50vh;
    background-color: lightcoral;
}
.container_3{
    margin: 250px 0px;
}
.box_3 p{
    font-size: 16px;
    color: blueviolet;
}
h3{
    font-size: 2rem; /*1 rem/em = 16px*/
}