*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 15px;
}
.block{
    background-color: lightblue;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: block;
}
.inline{
    background-color: lightgreen;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: inline;
    margin-right: 15px;
}
.inline_block{
    background-color: lightcoral;
    padding: 10px 20px;
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}
.visible{
    background-color: blueviolet;
    padding: 20px;
    margin-bottom: 20px;
}
.hidden{
    background-color: darkorange;
    padding: 20px;
    margin-bottom: 10px;
    display: none;
}
.hidden_visibility{
    background-color: aquamarine;
    padding: 20px;
    margin-right: 10px;
    visibility: hidden;
}
.opacity{
    background-color: black;
    color: white;
    padding: 20px;
    margin-right: 10px;
    opacity: 0;
}
/* Practical nav bar */

.nav{
    background-color: #333;
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
}
.nav-item{
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}
.visibility_hidden{
    visibility: hidden;
}