.hidden{
    display: none;
}
/* Mobiles Devices (max-width:480px)*/
@media (max-width:480px) {
    header > *{
        margin: 0;
    }
    .nav_item, .menu_btn{
        display: none;
    }
    .hero_container{
        flex-direction: column;
        height: auto;
    }
    .hero_image, .btn, .outline_btn, .hero_text h1.heading, .school_section h2.heading, .hero_text p{
        width: 100%;
    }

    .btn_group{
        flex-direction: column;
    }
}