.hidden{
    display: none;
}
/* Mobiles Devices (max-width:480px)*/
@media (max-width:480px) {
    header > *{
        margin: 0;
    }
    .nav_item, .menu_btn{
        display: none;
    }
    .hero_container{
        flex-direction: column;
        height: auto;
    }
    .heading, .newsletter .content h2{
        font-size: 2rem;
    }
    .hero_image, .btn, .outline_btn, .hero_text h1.heading, .school_section h2.heading, .hero_text p, .abount_info, .abount_info h2.heading, .school_section .text_content p, .class_content h2.heading{
        width: 100%;
    }
    .btn_group{
        flex-direction: none;
    }
    .about_section, .school_section{
        flex-direction: column;
    }
    .why_us_box{
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }
    .icon_text{
        height: auto;
    }
    h3{
        line-height: 1.5;
    }
    .icon{
        flex-shrink: 0;
    }
    .class_cards, .footer{
        grid-template-columns: repeat(1, 1fr);  
    }
    .classes_section, .newsletter .content{
        padding: 15px;
    }
}