@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary-color: #000D83;
    --secondary-color: #0BB4FF;
    --primary-text-color: #040931B5;
    --background-color: #E7EFFF;
    --sub_heading_font-size: 1.125rem;
    /*16px = 1 rem*/
    --heading_font-size: 2.5rem;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: var(--primary-color);
    padding: 15px;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

header>* {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: var(--primary-color);
}

nav ul li a:hover,
.menu_btn a:hover {
    color: var(--secondary-color);
}

.menu_btn a {
    padding: 0 10px;
}

.menu_btn .signup {
    margin-left: 10px;
    border: 1px solid var(--primary-color);
    padding: 5px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu_btn .signup:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero Section Styling */
.hero_section {
    background-color: var(--background-color);
    padding: 15px;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 15px;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.hero_image {
    width: 50%;
}

.hero_image img {
    width: 100%;
}

.sub_heading {
    font-size: var(--sub_heading_font-size);
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.heading {
    font-size: var(--heading_font-size);
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 24px;
}

.hero_text h1.heading, .school_section h2.heading{
    width: 60%;
}

p {
    font-size: 1rem;
    color: var(--primary-text-color);
    line-height: 1.5;
    font-size: 400;
}

.hero_text p {
    width: 70%;
    margin-bottom: 40px;
}

.btn_group {
    margin: 24px 0;
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

.btn,
.outline_btn {
    padding: 16px 38px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

    cursor: pointer;
    border-radius: 12px;

    transform: background-color 0.3s ease, 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn a {
    color: #fff;
}

.outline_btn a {
    color: var(--primary-color);
}

.outline_btn {
    background-color: transparent;
}

/* Avatar Stats */
.avatar_stats{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.avater_group{
    display: flex;
    align-items: center;
}
.avater{
    position: relative;
    margin-left: -15px;
}
.avater_image img{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;

}

.placeholder .avatar_counter{
    width: 48px;
    height: 48px;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Section Styling */
.about_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 15px;
}
.about_image, .abount_info{
    width: 50%;

}
.abount_info h2.heading{
    width: 60%;
}

/* Why Us Box */
.why_us{
    margin-top: 40px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
}
.why_us_box{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 80%;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.why_us_box:hover{
    transform: scale(1.05);
}
.icon_text{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 40px;
}
.icon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDFAFF;
    border-radius: 50%;
}
.icon img{
    width: 24px;
    height: 24px;
}
h3{
    font-size: 1rem;
    color: #333;
    line-height: 40px;
}
.arrow_icon{
    margin-left: auto;
}
/* School Section */
.school_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 15px;
}
.school_section .text_content p{
    width: 65%;
}




