@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --primary-color: #000D83;
    --secondary-color: #0BB4FF;
    --primary-text-color: #040931B5;
    --background-color: #E7EFFF;
    --sub_heading_font-size: 1.125rem;  /*16px = 1 rem*/
    --heading_font-size: 2.5rem;
  }

body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary--color);
}