@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --primary-color: #000D83;
    --secondary-color: #0BB4FF;
    --primary-text-color: #040931B5;
    --background-color: #E7EFFF;
    --sub_heading_font-size: 1.125rem;  /*16px = 1 rem*/
    --heading_font-size: 2.5rem;
  }

body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: var(--primary-color);
    padding: 15px;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

header > * {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li{
    padding: 0 10px;
}
nav ul li a{
    color: var(--primary-color);
}
nav ul li a:hover, .menu_btn a:hover{
    color: var(--secondary-color);
}
.menu_btn a{
    padding: 0 10px;
}
.menu_btn .signup{
    margin-left: 10px;
    border: 1px solid var(--primary-color);
    padding: 5px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.menu_btn .signup:hover{
    background-color: var(--primary-color);
    color: #fff;
}