*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #f0f0f0;
}

h1,h2 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.grid_container{
    padding: 20px;
    background-color: #fff;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 100px 2fr 1fr 1fr;
    grid-template-rows: 250px 100px;
    gap: 20px;
}
.grid_container > div{
    background: #4CAF50;
    color: white;
    font-size: 20px;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.grid_container2{
    display: grid;
    grid-template-columns: 200px 1fr; /* 2 Columns : Fixed Sidebar and Content */
    grid-template-rows: auto 1fr auto; /* 3 Rows : header, content, footer */
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer"    
    ;
    gap: 20px;
}
.header{
    grid-area: header; background-color: #ff6347;
    padding: 20px;
}
.sidebar{
    grid-area: sidebar; background-color: #3e8e41;
    padding: 20px;
}
.content{
    grid-area: content;
    background-color: lightgreen;
    padding: 20px;
}
.footer{
    grid-area: footer;
    background-color: #f44336;
    padding: 20px;
}
.grid_container3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
}
.grid_container3 > div{
     background: lightpink;
    color: white;
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}