li{
    /* list-style-type: none; */
    background-color: lightcyan;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a:hover{
    color: green;
    text-decoration: underline;
}
a:active{
    color: blueviolet;
}
a:visited{
    color: #5a2d8c;
}
ul.custom_bullets li{
    /* list-style-type: square; */
    list-style-type: disc;
    list-style-type: circle;
}

ol.custom_number{
    list-style-type: upper-roman;
    list-style-type: lower-greek;
}
ul.no_markers{
    list-style: none; /* Remove Bullet Points */
}

ul.custom_icon{
    list-style: none;
    padding-left: 0;
}
ul.custom_icon li{
    padding-left: 20px;
    background: url('https://cdn-icons-png.freepik.com/256/11433/11433324.png?semt=ais_incoming') no-repeat left center;
    background-size: 15px 15px;
    margin: 10px 0;
    text-align: left;
}
