/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');


body{
     font-family: "Montserrat", sans-serif;
}



.normal_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
}
.italic_text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
}
.bold_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.line-height-example{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.letter-spacing-example{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.75;
}
.text_alignment_example{
    text-align: right;
    text-align: left;
    text-align: center;
    text-align: justify;
    background-color: black;
    color: white;
    padding: 20px;
}
.futuristic_font{
     font-family: "Doto", sans-serif;
     color: blue;
}